/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/.vscode/
/Sdk.csproj
.DS*
.DS_Store
.idea
.vs
.vsconfig
*.csproj.*

# Thoruni project level ignore
/[Pp]ublish
/[Aa]rtfact
/[Oo]utput
/[Oo]bj
/[Tt]emp
/[Ll]ibrary/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/


*.csproj
*.sln

# Builds
*.apk
*.unitypackage

/build/MonoBleedingEdge/
/Assets/Projects


Assets/StreamingAssets/
Assets/StreamingAssets.meta
Data/AppHotfix/
!/Data/AppHotfix/tabtoyData.bytes

Assets/Configs/ThorSettings.asset
Assets/Configs/ThorSettings.asset.meta


*.sln.DotSettings.user

Thumbs.db
Thumbs.db.meta
/Data/Dev